#map { 
	height: 375px;
	 }

body, html {
	margin: 0;
	padding: 0;
	position: relative;
	height: 100%;
	width: 100%;
	background-image: url(../assets/excelbackground4.png);
	background-position: center bottom;
  	background-attachment: fixed;
  	background-size: cover;
  	background-repeat: no-repeat;
  	overflow: auto;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: center;

	-webkit-font-smoothing:antialiased
  	-webkit-transition: font-size .2s;
  	-o-transition: font-size .2s;
  	-ms-transition: font-size .2s;
  	transition: font-size .2s;
}
.wrap {
	min-height: -webkit-calc(100% - 51px);
	min-height: -moz-calc(100% - 51px);
	min-height: calc(100% - 51px);
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}
nav {
	height: 51px;
	margin: 0 auto;
	-webkit-box-shadow:0 0 10px rgba(0,0,0,.175);
	box-shadow:0 0 10px rgba(0,0,0,.175)	
}
nav .container, nav .container .navbar-header {
	height: 100%;
}
nav .navbar-header a.navbar-brand {
	color: #a1a1a1;
}
nav .navbar-header a.navbar-brand:hover {
	color: #919191;
}
.navbar-default {
	background-color: #313131;
	border-color: transparent;
}
.navbar-brand {
	font-size: 25px;
	padding-top: 14px;
}
.logo {
	max-height: 25px;
	vertical-align: text-center;
}
.jumbotron {
	color: #eee;
	margin: 51px auto 0 auto;
	padding-top: 12px;
	padding-bottom: 15px;
	/*border-bottom: 1px #80bd02 solid;*/
	background:rgb(0,0,0); /* if rgba is not supported */
	background:rgba(0,0,0,0.6);
	background: transparent;
}
.jumbotron h1 {
	font-size: 40px;
}
.jumbotron p {
	color: #c1c1c1;
	font-size: 16px;
}
.green {
	color: #80bd02;
}

hr {
	margin: auto;
	border-top: 1px solid #80bd02;
	width: 50%;
}

.info {
	background:rgb(49,49,49); /* if rgba is not supported */
	background:rgba(49,49,49,0.8);
	background: transparent;
	color: white;
	padding-top: 30px;
}

.info h2 {
	color: #80bd02;
	font-size: 20px;
}

.info p {
	color: #c1c1c1;
}

.img-responsive {
	/*max-width: 300px;*/
	overflow: hidden;
}

a.thumbnail:hover, 
a.thumbnail:focus, 
a.thumbnail.active {
	border-color: #a9de39;
}

select {
	color: #000;
}

.buybutton {
	background-color: #80bd02;
	border-radius: 2px;
	color: #1b1b1b;
	width: 220px;
	margin: 30px auto 0px auto;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	-moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.buybutton:hover {
	background-color: #79a913;
	color: #1b1b1b;
	text-decoration: none;
}

.paypal {
	margin: 71px auto 0px auto;
}

.paypal img, .paypal input {
	vertical-align: middle;
}

.modal-header,
.modal-body {
	background-color: #313131;
	color: #81bd02;
}
.modal-header {
	/*border-bottom: 1px solid #81bd02;*/
	border: none;
	font-weight: 700;
	padding-bottom: 0px;
}
.modal-body img {
	margin: auto;
}

footer {
	background-color: #1b1b1b;
	color: white;
	height: 40px;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}
footer p {
	margin: 0;
}
.spacer {
	height: 40px;
}
.contact {
	color: #eee;
	text-decoration: none;
	-moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.contact:hover {
	color: #c1c1c1;
	text-decoration: none;
}

/* success page */
.container.successmessage {
	display: table;
	overflow: hidden;
	width: 100%;
	height: -webkit-calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: calc(100% - 50px);
	text-align: left;
	margin: 50px auto -40px;
}
.container2.successmessage {
	display: table-cell;
	margin: 0;
	vertical-align: middle;
	position: relative;
}
.panel {
	margin: 0 auto;
	max-width: 960px;
}
.home {
	text-align: center;
}
.panel a {
	color: #999;
	text-decoration: none;
	-moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}
.panel a:hover {
	color: #000;
	text-decoration: none;
}

/*footer.success {
	position: absolute;
	bottom: 0%;
	width: 100%;
}*/

/* unused */
.carousel {
	margin: 51px auto 0 auto;
	max-width: 960px;
}
.carousel-inner .item img {
	margin: 0 auto;	
	max-height: 513px;
	overflow: hidden;
}

/* for sizing issue */
/*@media only screen and (min-width: 960px) and (max-width: 1200px) {
	.wrap {
		height: -webkit-calc(100% - 51px);
    	height: -moz-calc(100% - 51px);
    	height: calc(100% - 51px);
	}
}*/

/*@media only screen and (min-width: 1200px) {
	.wrap {
		height: -webkit-calc(100% - 51px);
    	height: -moz-calc(100% - 51px);
    	height: calc(100% - 51px);
	}
}*/